<!DOCTYPE html>
<title>{% block title %}User Analytics{% endblock title %}</title>
{% block body %}
{% include 'header.html' %}
<!-- Main content -->
<div class="container-fluid">
    {% include 'sideheader.html' %}
    <div class="main">
        <!-- Container for sidebar content -->
        {% include 'sidenav.html' %}
        <div class="page-content">
            <h2 class="welcome-title">
                User Analytics
                <span>📊</span>
            </h2>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="card custom-card-border">
                        <div class="card-body">
                            <h5 class="card-title">User Activity Over the Selected Period</h5>
                            <div class="log-filters mt-5">
                                <span>Select Date Range</span>
                                <div class="form-group">
                                    <label for="start-date">Start Date:</label>
                                    <input
                                        type="date"
                                        id="start-date"
                                        class="form-control"
                                        onchange="updateUserActivity()"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="end-date">End Date:</label>
                                    <input
                                        type="date"
                                        id="end-date"
                                        class="form-control"
                                        onchange="updateUserActivity()"
                                    >
                                </div>
                            </div>
                            <div id="userActivityChart" class="chart-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card custom-card-border">
                        <div class="card-body">
                            <h5 class="card-title">Most Common Actions</h5>
                            <div class="chart-container" id="actionChart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card custom-card-border">
                        <div class="card-body">
                            <h5 class="card-title">Active Users Over Time</h5>
                            <div class="chart-container" id="activeUsersChart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card custom-card-border">
                        <div class="card-body">
                            <h5 class="card-title">User Retention Rate</h5>
                            <div class="table-responsive">
                                <table id="retentionTable" class="table">
                                    <thead>
                                        <tr>
                                            <th class="th-wrap">Previous Week</th>
                                            <th>Current Week</th>
                                            <th>Retention Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Data will be populated by JavaScript --></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card custom-card-border">
                        <div class="card-body">
                            <h5 class="card-title">Device Usage</h5>
                            <div id="deviceUsageChart" class="chart-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card custom-card-border">
                        <div class="card-body">
                            <h5 class="card-title">OS Usage</h5>
                            <div id="osUsageChart" class="chart-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card custom-card-border">
                        <div class="card-body">
                            <h5 class="card-title">Browser Usage</h5>
                            <div id="browserUsageChart" class="chart-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Set default dates
        const currentDate = new Date();
        const pastDate = new Date();
        pastDate.setDate(currentDate.getDate() - 7);

        document.getElementById('start-date').value = pastDate.toISOString().split('T')[0];
        document.getElementById('end-date').value = currentDate.toISOString().split('T')[0];

        updateUserActivity();
        loadDeviceUsage();
        loadOsUsage();
        loadBrowserUsage();

        window.addEventListener('resize', function() {
            Plotly.Plots.resize('userActivityChart');
            Plotly.Plots.resize('deviceUsageChart');
            Plotly.Plots.resize('osUsageChart');
            Plotly.Plots.resize('actionChart');
            Plotly.Plots.resize('browserUsageChart');
        });
    });

    function updateUserActivity() {
        const startDate = document.getElementById('start-date').value;
        const endDate = document.getElementById('end-date').value;

        fetch(`/api/user-activity?start_date=${startDate}&end_date=${endDate}`)
            .then(response => response.json())
            .then(data => {
                const trace = {
                    x: data.labels,
                    y: data.values,
                    type: 'scatter',
                    mode: 'lines+markers',
                    marker: {color: '#1F419B'}
                };

                const layout = {
                    xaxis: {
                        title: 'Date'
                    },
                    yaxis:{
                        title: 'No of activities',
                        beginAtZero: true
                    },
                    legend: {
                        orientation: 'h',
                        y: -0.2,
                        xanchor: 'center',
                        yanchor: 'top',
                        x: 0.5
                    },
                    margin: {
                        l: 35, // Adjusted to ensure proper padding
                        r: 10,
                        t: 50, // Adjusted to ensure proper padding
                        b: 50 // Adjusted to give space for the horizontal legend
                    },
                    responsive: true
                };

                Plotly.newPlot('userActivityChart', [trace], layout);

                // Ensure the chart resizes correctly
                window.onresize = () => {
                    Plotly.Plots.resize('userActivityChart');
                };
            })
            .catch(error => console.error('Error fetching user activity data:', error));
    }

    function loadDeviceUsage() {
        fetch('/api/device-usage')
            .then(response => response.json())
            .then(data => {
                const colors = ['#1F419B', '#4e66a8', '#0056b3', '#500041', '#00AB4F', '#FF5733', '#FFC300', '#900C3F', '#FFC3A0', '#6050DC']; // Custom colors
                const trace = {
                    labels: data.labels,
                    values: data.values,
                    type: 'pie',
                    hole: 0.4,
                    marker: {colors: colors} // Custom colors
                };
    
                const layout = {
                   // title: 'Device Usage',
                    margin: {
                        l: 0,
                        r: 0,
                        t: 50,
                        b: 50
                    },
                    showlegend: true,
                    legend: {
                        orientation: 'h',
                        y: -0.2,
                        xanchor: 'center',
                        yanchor: 'top',
                        x: 0.5
                    },
                    responsive: true
                };
    
                Plotly.newPlot('deviceUsageChart', [trace], layout);
    
                window.onresize = () => {
                    Plotly.Plots.resize('deviceUsageChart');
                };
            })
            .catch(error => console.error('Error fetching device usage data:', error));
    }
    
    function loadOsUsage() {
        fetch('/api/os-usage')
            .then(response => response.json())
            .then(data => {
                const colors = ['#1F419B', '#4e66a8', '#0056b3', '#500041', '#00AB4F', '#FF5733', '#FFC300', '#900C3F', '#FFC3A0', '#6050DC']; // Custom colors
                const trace = {
                    labels: data.labels,
                    values: data.values,
                    type: 'pie',
                    hole: 0.4,
                    marker: {colors: colors} // Custom colors
                
                };
    
                const layout = {
                    //title: 'OS Usage',
                    margin: {
                        l: 0,
                        r: 0,
                        t: 50,
                        b: 50
                    },
                    showlegend: true,
                    legend: {
                        orientation: 'h',
                        y: -0.2,
                        xanchor: 'center',
                        yanchor: 'top',
                        x: 0.5
                    },
                    responsive: true
                };
    
                Plotly.newPlot('osUsageChart', [trace], layout);
    
                window.onresize = () => {
                    Plotly.Plots.resize('osUsageChart');
                };
            })
            .catch(error => console.error('Error fetching OS usage data:', error));
    }
    
    function loadBrowserUsage() {
        fetch('/api/browser-usage')
            .then(response => response.json())
            .then(data => {
                const colors = ['#1F419B', '#4e66a8', '#0056b3', '#500041', '#00AB4F', '#FF5733', '#FFC300', '#900C3F', '#FFC3A0', '#6050DC']; // Custom colors
                const trace = {
                    labels: data.labels,
                    values: data.values,
                    type: 'pie',
                    hole: 0.4,
                    marker: {colors: colors} // Custom colors
                };
    
                const layout = {
                   // title: 'Browser Usage',
                    margin: {
                        l: 0,
                        r: 0,
                        t: 50,
                        b: 50
                    },
                    showlegend: true,
                    legend: {
                        orientation: 'h',
                        y: -0.2,
                        xanchor: 'center',
                        yanchor: 'top',
                        x: 0.5
                    },
                    responsive: true
                };
    
                Plotly.newPlot('browserUsageChart', [trace], layout);
    
                window.onresize = () => {
                    Plotly.Plots.resize('browserUsageChart');
                };
            })
            .catch(error => console.error('Error fetching browser usage data:', error));
    }
    
    
    function loadActionSummary() {
        fetch('/api/action_summary')
            .then(response => response.json())
            .then(data => {
                const colors = ['#1F419B', '#4e66a8', '#0056b3', '#500041', '#00AB4F']; // Custom colors
                const trace = {
                    x: data.labels,
                    y: data.values,
                    type: 'bar',
                    marker: {color: colors}
                };

                const layout = {
                    margin: {
                        l: 35,
                        r: 0,
                        t: 50,
                        b: 50
                    },
                    showlegend: false,
                    responsive: true,
                    xaxis: {
                        title: 'Action'
                    },
                    yaxis: {
                        title: 'Count',
                        beginAtZero: true
                    }
                };

                Plotly.newPlot('actionChart', [trace], layout);

                window.onresize = () => {
                    Plotly.Plots.resize('actionChart');
                };

            })
            .catch(error => console.error('Error fetching action summary data:', error));
    }

    document.addEventListener('DOMContentLoaded', loadActionSummary);

    function loadActiveUsers() {
        fetch('/api/active_users_daily')
            .then(response => response.json())
            .then(data => {
                const trace = {
                    x: data.dates,
                    y: data.active_users,
                    type: 'scatter',
                    mode: 'lines+markers',
                    marker: {color: '#1F419B'}
                };

                const layout = {
                    margin: {
                        l: 35,
                        r: 10,
                        t: 50,
                        b: 50
                    },
                    xaxis: {
                        title: 'Date'
                    },
                    yaxis: {
                        title: 'Active Users'
                    },
                    responsive: true
                };

                Plotly.newPlot('activeUsersChart', [trace], layout);

                window.onresize = () => {
                    Plotly.Plots.resize('activeUsersChart');
                };
            })
            .catch(error => console.error('Error fetching active users data:', error));
    }

    document.addEventListener('DOMContentLoaded', loadActiveUsers);

   function loadRetentionRate() {
            fetch('/api/user_retention')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.querySelector('#retentionTable tbody');
                    tableBody.innerHTML = '';  // Clear existing table data

                    data.forEach(record => {
                        const row = document.createElement('tr');
                        const cellPreviousWeek = document.createElement('td');
                        const cellCurrentWeek = document.createElement('td');
                        const cellRetentionRate = document.createElement('td');

                        cellPreviousWeek.textContent = record.previous_week;
                        cellCurrentWeek.textContent = record.current_week;
                        cellRetentionRate.textContent = (record.retention_rate * 100).toFixed(2) + '%';

                        row.appendChild(cellPreviousWeek);
                        row.appendChild(cellCurrentWeek);
                        row.appendChild(cellRetentionRate);
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error fetching retention rate data:', error));
        }

        document.addEventListener('DOMContentLoaded', loadRetentionRate);
</script>
