<!DOCTYPE html>
<title>{% block title %}Change password {% endblock title %}</title>
{% block body %}
{% include 'header.html' %}
<!-- Main content -->
<div class="container-fluid">
    {% include 'sideheader.html' %}
    <!-- include the header of the page -->
    <div class="main">
        <!-- Container for sidebar content -->
        {% include 'sidenav.html' %}
        <!-- include the side navigation -->
        <div class="page-content">
            {% include 'users/settings.html' %}
            <!-- include the settings -->
            <div class="card custom-card-border">
                <div class="card-body">
                    <p>
                        <span class="red-asterisk">*</span>
                        Change your password
                    </p>
                    <!-- Add a flash message that displays a wrong old password message -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"
                        ></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form action="/update_password" method="post">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="oldpassword" class="form-label">
                                    Current password
                                    <span class="red-asterisk">*</span>
                                </label>
                                <div class="mb-3">
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="oldpassword"
                                        name="oldpassword"
                                        required
                                    >
                                </div>
                                <div class="mb-3">
                                    <label for="new_password" class="form-label">
                                        New password
                                        <span class="red-asterisk">*</span>
                                    </label>
                                    <div class="input-group">
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="new_password"
                                            id="new_password"
                                            required
                                        >
                                        <span class="input-group-text" id="password_icon"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="confirm_pass" class="form-label">
                                        Confirm password
                                        <span class="red-asterisk">*</span>
                                    </label>
                                    <div class="input-group">
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="confirm_pass"
                                            id="confirm_pass"
                                            required
                                        >
                                        <span class="input-group-text" id="confirm_password_icon"></span>
                                    </div>
                                    <!-- Error message for password confirmation -->
                                    <div id="password_confirmation_error" class="error-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-sm button-hover" id="submit_button">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add the script files in the body of every html content -->
<script src="{{ url_for('static', filename='js/password_validation.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock body %}
