<!DOCTYPE html>
<title>{% block title %}User Profile{% endblock title %}</title>
{% block body %}
{% include 'header.html' %}
<!-- Main content -->
<div class="container-fluid">
    {% include 'sideheader.html' %} <!-- include the header of the page -->
    <div class="main">
        <!-- Container for sidebar content -->
        {% include 'sidenav.html' %} <!-- include the side navigation -->
        <div class="page-content">
            {% include 'users/settings.html' %} <!-- include the settings -->
            
            <div class="card custom-card-border mt-1 mb-5">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="mb-0" id="p_text">
                            Your profile
                        </h5>
                        <button type="button" class="btn btn-outline-secondary btn-sm" title="edit profile" id="editButton" onclick="enableEdit()">
                            <i class="fas fa-pencil edit-icon"></i>
                        </button>
                    </div>
                    <form id="profileForm" action="/update_profile" method="post" >
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="name" class="form-label">First Name</label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="name"
                                    value="{{ user.first_name }}"
                                    name="fname"
                                    placeholder="Enter your first name"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="lname" class="form-label">Last Name</label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="lname"
                                    name="lname"
                                    value="{{ user.last_name }}"
                                    placeholder="Enter your last name"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="email" class="form-label">Email</label>
                                <input
                                    type="email"
                                    class="form-control read-only-input"
                                    id="email"
                                    value="{{ user.email }}"
                                    name="email"
                                    placeholder="Enter your email"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="country" class="form-label">Country
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="text"
                                    value="{{ user.country }}"
                                    class="form-control read-only-input"
                                    id="country"
                                    value="{{ user.country }}"
                                    name="country"
                                    placeholder="eg. Ethiopia"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="state" class="form-label">State
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="state"
                                    value="{{ user.state }}"
                                    name="state"
                                    placeholder="eg. Addis Ababa"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="zone" class="form-label">Sub City/Zone
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="zone"
                                    value="{{ user.sub_city }}"
                                    name="zone"
                                    placeholder="eg. Addis Ketema"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="wereda" class="form-label">Wereda</label>
                                <input
                                    type="text"
                                    value="{{ user.wereda }}"
                                    class="form-control read-only-input"
                                    id="wereda"
                                    value="{{ user.wereda }}"
                                    name="wereda"
                                    placeholder="eg. 20"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="kebele" class="form-label">Kebele</label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="kebele"
                                    value="{{ user.kebele }}"
                                    name="kebele"
                                    placeholder="eg. 05"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="house_no" class="form-label">House No.</label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="house_no"
                                    value="{{ user.house_number }}"
                                    name="house_no"
                                    placeholder="eg. 20/220"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="phone" class="form-label">Phone/Mobile Number
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="tel"
                                    class="form-control read-only-input"
                                    id="phone"
                                    value="{{ user.phone_number }}"
                                    name="phone"
                                    placeholder="eg. 09xxxxxxxx"
                                    readonly
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-sm button-hover" id="saveButton" style="display:none;">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add the script files in the body of every html content -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock body %}
<script>
    function enableEdit() {
        // Get all input fields within the form
        const inputs = document.querySelectorAll('#profileForm input');

        // Enable all input fields
        inputs.forEach(input => {
            input.removeAttribute('readonly');
            input.classList.remove('read-only-input');
        });

        // Show the save button and hide the edit button
        document.getElementById('editButton').style.display = 'none';
        document.getElementById('saveButton').style.display = 'block';
        document.getElementById('p_text').innerHTML = '<span class="red-asterisk">*</span>Update your profile';
    }
</script>