<!DOCTYPE html>
<title>{% block title %}User Profile{% endblock title %}</title>
{% block body %}
{% include 'header.html' %}
<!-- Main content -->
<div class="container-fluid">
    {% include 'sideheader.html' %}
    <!-- include the header of the page -->
    <div class="main">
        <!-- Container for sidebar content -->
        {% include 'sidenav.html' %}
        <!-- include the side navigation -->
        <div class="page-content">
            {% include 'users/settings.html' %}
            <!-- include the settings -->
            <!-- Basic Profile Section -->
            <div class="card custom-card-border mt-1 mb-3">
                <!-- Add a flash message that displays a wrong old password message -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="mb-0">
                            <span class="red-asterisk">*</span>
                            Basic Profile
                        </h5>
                        <button type="button" class="btn edit-icon" id="editButtonBasic" onclick="enableEdit('basic')">
                            <i class="fas fa-pencil"></i>
                        </button>
                    </div>
                    <form id="basicForm" action="{{ url_for('user_bp.update_profile') }}" method="POST">
                        <input type="hidden" name="section" value="profile">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="first_name" class="form-label">First Name</label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="first_name"
                                    name="first_name"
                                    value="{{ user.first_name }}"
                                    placeholder="Enter your first name"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="last_name" class="form-label">Last Name</label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="last_name"
                                    name="last_name"
                                    value="{{ user.last_name }}"
                                    placeholder="Enter your last name"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="email" class="form-label">Email</label>
                                <input
                                    type="email"
                                    class="form-control read-only-input"
                                    id="email"
                                    name="email"
                                    value="{{ user.email }}"
                                    placeholder="Enter your email"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="phone" class="form-label">
                                    Phone/Mobile Number
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="tel"
                                    class="form-control read-only-input"
                                    id="phone"
                                    name="phone"
                                    value="{{ user.phone_number }}"
                                    placeholder="eg. 09xxxxxxxx"
                                    readonly
                                >
                            </div>
                        </div>
                        <div class="company-section">
                            <div class="btn-row">
                                <button type="submit" class="btn btn-primary button-hover" id="saveButtonBasic" style="display:none;">Update</button>
                                <button type="button" class="btn btn-cancel" id="cancelButtonBasic" style="display:none;" onclick="cancelForm('basic')">Cancel</button>
                                
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
            <!-- Address Section -->
            <div class="card custom-card-border mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="mb-0">
                            <span class="red-asterisk">*</span>
                            Address
                        </h5>
                        <button type="button" class="btn edit-icon" id="editButtonAddress" onclick="enableEdit('address')">
                            <i class="fas fa-pencil"></i>
                        </button>
                    </div>
                    <form id="addressForm" action="{{ url_for('user_bp.update_profile') }}" method="POST">
                        <input type="hidden" name="section" value="address">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="country" class="form-label">
                                    Country
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="text"
                                    value="{{ user.country }}"
                                    class="form-control read-only-input"
                                    id="country"
                                    name="country"
                                    placeholder="eg. Ethiopia"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="state" class="form-label">
                                    State
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="state"
                                    name="state"
                                    value="{{ user.state }}"
                                    placeholder="eg. Addis Ababa"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="zone" class="form-label">
                                    Sub City/Zone
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="zone"
                                    name="zone"
                                    value="{{ user.sub_city }}"
                                    placeholder="eg. Addis Ketema"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="wereda" class="form-label">Wereda</label>
                                <input
                                    type="text"
                                    value="{{ user.wereda }}"
                                    class="form-control read-only-input"
                                    id="wereda"
                                    name="wereda"
                                    placeholder="eg. 20"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="kebele" class="form-label">Kebele</label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="kebele"
                                    name="kebele"
                                    value="{{ user.kebele }}"
                                    placeholder="eg. 05"
                                    readonly
                                >
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="house_no" class="form-label">House No.</label>
                                <input
                                    type="text"
                                    class="form-control read-only-input"
                                    id="house_no"
                                    name="house_no"
                                    value="{{ user.house_number }}"
                                    placeholder="eg. 20/220"
                                    readonly
                                >
                            </div>
                        </div>
                        <div class="company-section">
                            <div class="btn-row">
                                <button type="submit" class="btn btn-primary button-hover" id="saveButtonAddress" style="display:none;">Update</button>
                                <button type="button" class="btn btn-cancel" id="cancelButtonAddress" style="display:none;" onclick="cancelForm('address')">Cancel</button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add the script files in the body of every html content -->
<script src="{{ url_for('static', filename='js/form_editor.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock body %}
