<!DOCTYPE html>
<title>{% block title %}User Profile{% endblock title %}</title>
{% block body %}
{% include 'header.html' %}
<!-- Main content -->
<div class="container-fluid">
    {% include 'sideheader.html' %} <!-- include the header of the page -->
    <div class="main">
        <!-- Container for sidebar content -->
        {% include 'sidenav.html' %} <!-- include the side navigation -->
        <div class="page-content">
            {% include 'users/settings.html' %} <!-- include the settings -->
            
            <div class="card custom-card-border">
                <div class="card-body">
                    <p>
                        <span class="red-asterisk">*</span>Update your profile
                    </p>
                    <form>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="row">
                                    <label for="name" class="form-label">Name</label>
                                    <div class="col-sm-6">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="name"
                                            value="{{user.first_name}}"
                                            placeholder="Enter your first name"
                                            readonly
                                        >
                                    </div>
                                    <div class="col-sm-6">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="lname"
                                            value="{{user.last_name}}"
                                            placeholder="Enter your last name"
                                            readonly
                                        >
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <label for="country" class="form-label">Country
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="text"
                                    value="{{user.country}}"
                                    class="form-control"
                                    id="country"
                                    placeholder="eg. Ethiopia"
                                >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="state" class="form-label">State
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="state"
                                    placeholder="eg. Addis Ababa"
                                >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="zone" class="form-label">Sub City/Zone
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="zone"
                                    placeholder="eg. Addis Ketema"
                                >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="wereda" class="form-label">Wereda</label>
                                <input
                                    type="text"
                                    value="{{user.wereda}}"
                                    class="form-control"
                                    id="wereda"
                                    placeholder="eg. 20"
                                >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="kebele" class="form-label">Kebele</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="kebele"
                                    placeholder="eg. 05"
                                >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="house_no" class="form-label">House No.</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="house_no"
                                    placeholder="eg. 20/220"
                                >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phone" class="form-label">Phone/Mobile Number
                                    <span class="red-asterisk">*</span>
                                </label>
                                <input
                                    type="number"
                                    class="form-control"
                                    id="phone"
                                    placeholder="eg. 09xxxxxxxx"
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-sm button-hover">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add the script files in the body of every html content -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock body %}
