<ul class="nav">
    <li class="nav-item">
        <a href="/profile" class="nav-link" id="profile">
            <i class="fa-regular fa-user"></i>
            <span>Profile</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/change_password" class="nav-link" id="password">
            <i class="fa-solid fa-key"></i>
            <span>Change Password</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/company" class="nav-link" id="company">
            <i class="fa-solid fa-building"></i>
            <span>Company</span>
        </a>
    </li>
</ul>
<script>
    

</script>
