{% extends "base.html" %}

{% block title %}Sign in to Medem{% endblock %}

{% block body %}
<div class="container login-container">
    <div class="login-header">
        <img src="static/logos/logo.ico" alt="MedEM">
        <h2>Sign in to Medem</h2>
    </div>
    
    <div class="login-form">
        <!-- Add a flash message that displays a failed login message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        <form method="post" id="login-form" action="/login">
            
            <div class="mb-3">
                <label for="username">Username or email address</label>
                <input type="email" class="form-control" id="username" name="username" placeholder="Enter email" required>
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <button class="btn btn-primary hover-orange" type="submit">Sign in</button>
        </form>
    </div>
</div>
{% endblock body %}
