<!DOCTYPE html>
<title>{% block title %}Inventory Management{% endblock title %}</title>
{% block body %}
    {% include 'header.html' %}
    <!-- Main content -->
    <div class="container-fluid">
        {% include 'sideheader.html' %}
        <div class="main">
            <!-- Container for sidebar content -->
            {% include 'sidenav.html' %}
            <div class="page-content">
                <!-- include the search bar -->
                <div class="header2">
                    <h2 class="welcome-title">Inventory Management 🎉</h2>
                    <div class="search-menu">
                        <form id="search-form"  method="GET">
                            <div class="search-wrapper">
                                <i class="material-icons search-icon">search</i>
                                <input type="search" class="search-input" id="search" name="query" placeholder="Search by product, batch_no, or category..." autocomplete="off">
                                
                                <ul id="suggestions" class="suggestions"></ul>
                            </div>
                        </form>
                    </div> 
                </div>

                <!-- main contentns here -->

                <div class="container mt-5">
                    <h1>Existing Customer</h1>
                    <h3>Customer Information</h3>
                    <p><strong>Name:</strong> {{ customer.name }}</p>
                    <p><strong>Email:</strong> {{ customer.email }}</p>
                    <p><strong>Phone:</strong> {{ customer.phone }}</p>
                    <p><strong>Address:</strong> {{ customer.address }}</p>
            
                    <!-- Link to proceed to order form -->
                    <a href="{{ url_for('new_order_form', customer_id=customer.id) }}" class="btn btn-primary">Proceed to Order</a>
                </div>

            </div>
        </div>
    </div>


   
{% endblock body %}
