/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #FAFAFC;
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Full viewport height */
}

h1, h2, h3, h4, h5, h6 {
  color: #1F419B;
  font-weight: 600;
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #1F419B;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #333;
}
/* Custom CSS for Material Style Navigation Drawer */
.nav-drawer {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1040;
  top: 0;
  right: -250px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.nav-drawer a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #111;
  display: block;
  transition: 0.3s;
}

.nav-drawer a:hover {
  background-color: #fff;
}

.navbar {
  background: #fff;
}

.drawer-open {
  right: 0;
}

.menu-icon {
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
  font-size: 24px;
}

.navbar-brand {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 180px;
}

.navbar-brand img {
  max-width: 100%;
}

.navbar-toggler {
  border: none;
  outline: none;
}


/* Container Styles */
.container-fluid {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 auto !important;
  height: 100vh;
  flex-wrap: wrap;
  overflow: hidden;
}

.main {
  height: calc(100% - 50px);
  display: flex;
  flex: 1;
  overflow-x: hidden;
}

/* Sidebar Styles */
.sidebar {
  height: 100%;
  width: 220px;
  box-sizing: border-box;
  box-shadow: 0 0 2rem 0 rgb(0 0 0 / 5%);
  overflow: hidden;
  transition: width 0.5s ease;
  margin-left: 17px;
  position: relative;
  padding-left: 10px;
  background-color: #f8f9fa;
}

.container-fluid.nav-closed .sidebar,
.container-fluid.nav-closed .header-logo {
  width: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sidebar ul li {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background: #1F419B;
  color: #fff;
}

.sidebar ul li a .fas {
  margin-right: 10px;
  font-size: 1rem;
  color: #333;
}

.sidebar ul li a.dropdown-toggle::after {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.sidebar ul li a.dropdown-toggle.rotated::after {
  transform: rotate(180deg);
}

.sidebar ul li ul {
  display: none;
  padding-left: 20px;
  border-left: 2px solid #1F419B;
}

.sidebar ul li ul li {
  padding-left: 10px;
}

.bottom-links {
  position: absolute;
  bottom: 50px;
  width: 220px;
}

.bottom-links hr {
  margin: 0;
  border: none;
  background-color: #333;
  height: 1px;
  margin-right: 20px;
}

.bottom-links a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .bottom-links {
    height: auto;
    margin-top: 0;
  }
}

/* Header Styles */
.header {
  height: 60px;
  background: #FAFAFC;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(250, 250, 252, 0.5);
  margin-top: 5px;
  padding: 0 20px;
  color: #1F419B;
}

.sidebar ul li a.active i,
.sidebar ul li a:hover i {
  color: #fff;
}

.site-logo {
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  margin: 0 18px 0 15px;
}

.site-logo path {
  fill: #00AB4F;
}

.site-title {
  color: #1F419B;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
}

/* Page Content Styles */
.page-content {
  padding: 10px 25px;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.page-content::-webkit-scrollbar {
  display: none;
}
.main::-webkit-scrollbar{
  display: none;
}

.page-content h1 {
  font-size: 30px;
  font-weight: 400;
  color: #111;
}

/* Header Menu Styles */
.header-menu {
  height: 100%;
  align-items: center;
  display: flex;
  padding: 0 20px;
  margin-left: -37px;
  flex: 1;
  position: relative;
}

.header-menu .button-menu {
  width: 28px;
  height: 28px;
  margin-right: 15px;
  background: none;
  border: 0;
  cursor: pointer;
  color: #00AB4F;
}

.greeting {
  color: #00AB4F;
  font-weight: 500;
  font-size: 18px;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 220px;
  overflow: hidden;
  transition: width 0.5s ease;
}

/* Search Menu Styles */
.search-menu input[type="search"] {
  height: auto;
  padding: 10px 20px 10px 50px;
  box-sizing: border-box;
  background: #E8F0FE;
  color: #333;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #00AB4F;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 500;
  transition: border-color 0.3s ease;
}

.search-menu input[type="search"]:focus {
  border-color: #00AB4F;
  outline: none;
}

.search-menu input[type="search"]::placeholder {
  color: #b9b5b5;
  padding-left: 10px;
}

.header-menu .button-menu:focus {
  outline: none;
  border: none;
}

.header-menu .button-menu svg path {
  fill: #00AB4F;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .header-menu {
    margin-left: -10px;
  }

  .sidebar {
    margin-left: 0;
  }

  .header-logo {
    flex: 0 0 auto;
  }

  .header-logo svg {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  .site-title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 991px) {
  .page-content {
    width: 100vw;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    display: none;
  }
}

/* Additional Header Styles */
.header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.welcome-title {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 10px;
}

.welcome-title span {
  font-weight: bold;
  color: #1F419B;
  margin-left: 5px;
}

.search-menu {
  width: 100%;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding-left: 40px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #b9b5b5;
  pointer-events: none;
}

@media (min-width: 600px) {
  .header2 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .search-wrapper {
    width: auto;
    margin: 0;
  }

  .welcome-title {
    width: auto;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .search-wrapper {
    width: 100%;
    margin: 0;
  }
  
  .welcome-title {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-input {
    padding-left: 30px;
  }

  .search-icon {
    left: 10px;
  }
}

/* Suggestions Dropdown */
.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
}

.suggestions.active {
  display: block;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #eee;
}

/* Profile Menu */
.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  text-align: start;
  height: auto;
}

.profile h3 {
  text-align: end;
  line-height: 1;
  margin-bottom: 4px;
  font-weight: 600;
  color: #1F419B;
}

.profile p {
  line-height: 1;
  font-size: 14px;
  opacity: 0.6;
}

.profile .img-box {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clock {
  color: #00AB4F;
  font-size: 16px;
  font-weight: bold;
}

/* User Settings Menu */
.menu {
  position: absolute;
  top: 5%;
  right: -200px;
  width: 250px;
  height: 100vh;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 0 10px #1F419B;
  transition: right 0.3s ease-in-out;
  z-index: 9999;
  display: none;
}

.menu.active {
  right: 0;
  display: block;
}

.menu-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.menu-header img {
  width: 100px;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.menu::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 14px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  z-index: -1;
}

.menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background: #fff;
}

.menu ul li {
  list-style: none;
  margin-left: -30px;
}

.menu ul li a {
  text-decoration: none;
  color: #111;
  display: flex;
  align-items: start;
  padding: 15px 20px 10px;
  gap: 6px;
}

.menu ul li a:hover {
  background: #1F419B;
  color: #ccc;
}

.menu ul li a i {
  font-size: 1.25rem;
}

/* Responsive Adjustments */
@media screen and (max-width: 900px) {
  .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
  }

  .user {
    margin-right: 10px;
  }

  .user h3 {
    font-size: 14px;
    font-weight: bold;
    color: #1F419B;
  }

  .user p {
    font-size: 12px;
  }
}


/* user settings css end */
/* custom card */
.custom-card-border {
  border-radius: 10px;
  box-shadow   : 0 0 15px rgba(0, 0, 0, 0.1);
  padding      : 10px;
  margin-bottom: 20px;
}

.custom-card-border form input:focus {
  outline   : none;
  /* Prevents the default outline */
  box-shadow: none;
  /* Removes any box shadow that might be used for focus */
}

.custom-btn {
  width : fit-content;
  margin: 10px;
}

.red-asterisk {
  color      : red;
  font-weight: bold;
  margin-left: 4px;
  padding    : 2px;
}

.error-message {
  padding: 5px;
  color  : red;
}


/* Basic styling for the nav */
.nav {
  list-style-type: none;
  display        : flex;
  border-bottom  : 1px solid #ddd;
  justify-content: flex-start;
  overflow       : hidden;
  margin-bottom  : 10px;
}

/* Style for each tab item */
.nav-item {
  margin-right: 10px;
  /* Optional : Add spacing between items */
}

/* Style for each tab item */
.nav-item {
  margin-right: 10px;
  /* Optional : Add spacing between items */
}

/* Style for the links */
.nav-link {
  display        : flex;
  align-items    : flex-start;
  justify-content: flex-start;
  text-align     : center;
  padding        : 10px 20px;
  /* Adjust padding as needed */
  text-decoration: none;
  color          : #555;
  transition     : all 0.3s ease;
}

/* Style for the icons */
.nav-link i {
  margin-right: 5px;
  /* Add spacing between icon and text */
}

/* Hover effect */
.nav-link:hover {
  background-color: #ccc;
  color           : #111;
}

/* Active tab style */
.nav-link.active {
  border-bottom: 3px solid #1F419B;
  font-weight  : bold;
  color        : #1F419B;
}

/* Responsive styling */
@media (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    /* Allow wrapping to next line if necessary */
  }

  .nav-item {
    flex        : 1;
    /* Ensure items are evenly spaced */
    margin-right: 5px;
    /* Adjust spacing between items */
  }

  .nav-link {
    padding: 5px 5px;
    /* Adjust padding for smaller screens */
  }
}

/* Login form styles */

.login-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  /* Adjust spacing between header and form */
}

.login-form {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  color: #39414e;
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 500;
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  transition: all 250ms ease-in-out;
}

.login-form input {
  color: #39414e;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid #c2c5c9;
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 500;
  transition: border-color 0.3s ease;
}

.login-form input:focus {
  border-color: #1F419B;
}

/* Default styles for both btn-primary and btn-custom-primary */
.btn-primary,
.btn-custom-primary {
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
  border-radius: 0; /* Remove rounded corners */
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 10px 5px;
  text-align: center;
  background: #1F419B;
}

/* Styles specific to .btn-primary (Bootstrap style with rounded corners) */
.btn-primary {
  border-radius : 25px;
  float : inline-end;
}

.btn-primary:hover, .btn-custom-primary:hover {
  background    : #3f51b5; /* Darker shade of primary color */
  color: #ccc;
}


/* Styles specific to .btn-custom-primary (Bootstrap style without rounded corners) */
.btn-custom-primary {
  border-radius : 5px;
  background    : #1F419B;
}


.btn-cancel {
  font-weight: bold;
  color: #1F419B;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.btn-cancel:hover {
  color: #4e66a8;
  text-decoration: underline;
}

.btn:focus,
.btn-primary:focus,
.btn-cancel:focus,
.btn-custom-primary:focus {
  outline: none;
  box-shadow: none;
}

.sign-message {
  font-size: 20px;
  color: #333;
  padding: 10px 5px;
  margin: 10px 5px;
}

.sign-message a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sign-message a:hover {
  color: #0056b3;
}

/* End of Login Form Style */


/* Form styles */
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  z-index: 1;
}

.hidden {
  display: none;
}

/* Hide all except first fieldset */
#msform fieldset:not(:first-of-type) {
  display: none;
}

/* Input styles */
#msform input[type='text'],
#msform input[type='email'],
#msform input[type='tel'],
#msform input[type='number'],
#msform input[type='file'] {
  color: #39414e !important;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid #c2c5c9;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 5px;
  transition: border-color 0.3s ease;
}

#msform input:focus {
  border-color: #1F419B;
}

/* Buttons */
#msform .action-button {
  width : 100px;
  background : #1F419B;
  font-weight : bold;
  color : white;
  border : 0 none;
  border-radius: 25px;
  cursor : pointer;
  padding : 10px 5px;
  margin : 10px 5px;
  float : inline-end;
  }

  
  .submit.action-button {
  display : inline-block;
  padding : 10px 20px;
  background-color: transparent;
  color : white;
  border : 2px solid white;
  border-radius : 25px;
  font-size : 1rem;
  /* Standard font size /
  text-decoration : none;
  transition : background-color 0.3s, color 0.3s;
  position : relative;
  / Ensure z-index works /
  z-index : 1;
  / Ensure button is above overlay */
  }
  
  
#msform .action-button {
  background: #1F419B;
}

#msform .action-button:hover {
  background-color: #3f51b5;
  color: #ccc;
}
#msform .action-button-previous {
  width : 100px;
  background : #C5C5F1;
  font-weight : bold;
  color : white;
  border : 0 none;
  border-radius: 25px;
  cursor : pointer;
  padding : 10px 5px;
  margin : 10px 5px;
  float : right;
  }
.submit.action-button {
  background-color: transparent;
  border: 2px solid white;
  font-size: 1rem;
}

.submit.action-button:hover,
.submit.action-button:focus,
.submit.action-button:active {
  background-color: white;
  color: #1F419B;
  outline: none;
  transform: translateY(1px);
}

#msform .action-button-previous {
  width: 100px;
  background: #C5C5F1;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  outline: none;

}

/* Progress bar styles */
#progressbar {
  overflow: hidden;
  counter-reset: step;
  color: lightgrey;
  margin-bottom: 30px;
  width: auto;
}

#progressbar li {
  list-style-type: none;
  font-size: 1.25rem;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
  font-weight: 400;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: -50%;
  top: 25px;
  z-index: -2;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar .active {
  color: #500041;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #500041;
}

/* Heading styles */
#heading {
  text-transform: uppercase;
  color: #500041;
  font-weight: bold;
}

/* Message link styles */
.message a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}


/* Side section styles */
.side-section {
  background-color: #500041;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-height: 100%;
  overflow-y: hidden;
  margin-left: 80px; /* Adjust as needed */
}

.side-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.side-section h1 {
  margin-top: 20px;
  text-align: center;
}

.side-section p {
  font-size: 1.25rem;
  padding-left: 20px;
  margin-top: 20px;
}

.side-box {
  padding-top: 40px;
}

.form-box {
  padding-top: 40px;
  margin-left: 50%; /* Adjust this value based on the width of your sidebar */
}

.password-container {
  position: relative;
}

.password-container input {
  padding-right: 40px; /* Space for the icon */
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .side-section {
    margin-right: 0;
    border-radius: 8px;
    margin-left: 0;
    margin-top: 0;
    height: 5%;
    position: relative;
  }

  .form-box {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    overflow-x: hidden;
  }

  .side-box {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .side-section p {
    padding: 10px;
  }

  .side-section h1 {
    padding-top: 16px;
    margin-bottom: 20px;
  }
}

/* Container height */
.container {
  height: 100%;
}

/* Form input styles */
.edit-icon {
  border: 1px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #00AB4F;
}

.edit-icon:hover {
  background-color: #e0e0e0;
}

.read-only-input {
  border: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: default;
}

.read-only-input:focus {
  outline: none;
}

/* Table layout styles */
.table-container {
  min-width: 320px;
}

.table-container tbody {
  font-size: 14px;
}

/* Sortable column styles */
.sortable {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.sort-icon {
  transform: translateY(-50%);
}

.sort-icon:after {
  content: '▲▼';
  color: #999; /* Default color */
}

.sortable:active .sort-icon:after {
  color: #1F419B; /* Change to desired active color */
}


/* Pagination styles */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 0;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50%;
  text-decoration: none;
  color: #1F419B;
  font-size: 16px;
  font-weight: bold;
}

.pagination strong {
  background-color: #333;
  color: #fff;
}

.pagination .current {
  background-color: #00AB4F;
  color: #333;
  border-radius: 50%;
}

.pagination a:hover {
  background-color: #E4E6FD;
}

.pagination a:not(.current):hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  .pagination {
    flex-direction: row;
    align-items: center;
  }
}

/* Select menu styling */
.select-wrapper {
  display: flex;
  align-items: center;
  max-width: 20%;
}

.select-wrapper label {
  padding: 10px;
  padding-left: 0%;
}

@media screen and (max-width: 768px) {
  .select-wrapper {
    max-width: 65%;
  }
}

/* Filter section */
.filter-section,
.select-wrapper {
  margin-bottom: 10px;
}

.filter-section label {
  margin-right: 10px;
}

.filter-section input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-section button {
  padding: 8px 15px;
  background-color: #1F419B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-section input:focus {
  outline: none;
  border-color: #1F419B;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-hover:hover {
  background-color: #3f51b5;
  color: #ccc;
}

/* Button status */
.btn-status.btn-small {
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  color: #1F419B;
  background-color: #fff;
  border: none;
}

tr:hover .btn-small {
  background-color: #ECECEC;
}

td:last-child .btn-status {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
}

td:last-child .btn-status .fas {
  line-height: 30px;
  width: 30px;
}

@media screen and (max-width: 768px) {
  .filter-section button {
    margin-top: 10px;
  }
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: right 0.5s ease;
}

.overlay-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin-left: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  position: relative;
}

.close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-size: 24px;
  color: #1F419B;
}

.detail-header {
  display: flex;
  padding: 20px 0;
  margin-top: 30px;
  margin-left: 30px;
  flex-direction: column;
  align-items: flex-start;
}

.company-logo {
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
}

.company-name {
  font-size: 32px;
  color: #333;
}

.content {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  flex-direction: row;
}

.details,
.image {
  padding: 10px 0;
  flex: 1;
}

.image {
  position: relative;
  display: inline-block;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.buttons {
  margin-top: 20px;
}

.approve-button,
.disapprove-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.approve-button:disabled,
.approve-button.approved {
  background-color: #6c757d;
  cursor: not-allowed;
}

.disapprove-button:disabled,
.disapprove-button.disapproved {
  background-color: #6c757d;
  cursor: not-allowed;
}

.approve-button {
  background-color: #00AB4F;
  color: white;
}

.approve-button:hover {
  background-color: #218838;
}

.disapprove-button {
  background-color: #dc3545;
  color: white;
}

.disapprove-button:hover {
  background-color: #c82333;
}

.caption {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .detail-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .company-logo {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
  }

  .company-name {
    font-size: 24px;
  }

  .details,
  .image {
    flex: 1 1 100%;
  }

  .close-button {
    top: 10px;
    left: 20px;
  }

  .overlay-container {
    margin-left: 10px;
    border-radius: 0;
  }

  .content {
    flex-direction: column;
  }
}

/* Stat Box */
.stat-row {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  gap: 10px;
  flex-wrap: wrap;
}

.stat-box {
  flex: 1;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #E4E6FD;
  margin-bottom: 10px;
  width: calc(33.33% - 40px);
}

.stat-content {
  display: flex;
  align-items: center;
}

.stat-info {
  margin-left: 20px;
}

.stat-icon {
  font-size: 24px;
  color: #1F419B;
}

.stat-box:nth-child(2) .stat-icon {
  color: #2ecc71;
}

.stat-box:nth-child(3) .stat-icon {
  color: #f39c12;
}

.stat-number {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}

.stat-text {
  font-size: 14px;
  color: #666;
}

@media (max-width: 768px) {
  .stat-box {
    width: calc(50% - 40px);
  }
}

@media (max-width: 576px) {
  .stat-box {
    width: calc(100% - 40px);
  }
}


/* css layout for the roles management */
/* Roles Management Section */
.form-section {
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #1F419B;
  outline: none;
}

.inline-form {
  display: inline;
}

.role-list {
  list-style-type: none;
  padding: 0;
}

.role-list li {
  margin-bottom: 10px;
}

/* Tabs Styling */
.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tab {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s;
  margin-right: 10px;
  border-radius: 5px 5px 0 0;
}

.tab.active {
  color: #1F419B;
  border-bottom: 3px solid #1F419B;
  font-weight: bold;
}

/* Tab Content Styling */
.tabcontent {
  display: none;
  padding: 20px;
  border-top: none;
  height: 100%;
  border-radius: 0 0 5px 5px;
  background-color: #fefefe;
}

.tabcontent.active {
  display: block;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Circular Button Styles */
.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 1.42857;
  background-color: #00AB4F;
  color: #fff;
}

.btn-circle:hover {
  background-color: #2ecc71;
  color: #ccc;
}

.btn-add-user {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Company Profile Section */
.company {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
}

.company-section form input:focus {
  border-color: #1F419B;
  outline: none;
}

.company-section,
.preview-section {
  width: 48%;
}

.company-section form input[type="text"],
.company-section form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.preview-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.preview-section div {
  font-weight: bold;
  margin-bottom: 5px;
}

.company-section .btn-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

@media screen and (max-width:768px) {
  .company {
    flex-direction: column;
  }

  .company-section,
  .preview-section {
    width: 100%;
  }

  .company-section .btn-row {
    flex-wrap: wrap;
    gap: 10px;
  }

  .company-section .btn-row button {
    flex: 1 1 auto;
  }
}

/* User Analytics Chart Section */
.log-filters {
  position: absolute;
  top: 3px;
  left: 12px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: none;
  color: #500041;
  transition: all 0.3s ease;
  width: auto;
  overflow: hidden;
}

.log-filters:hover {
  width: 300px;
}

.log-filters .form-group {
  display: none;
  margin-bottom: 10px;
}

.log-filters:hover .form-group {
  display: block;
}

.chart-container {
  width: 100%;
  height: 100%;
  min-height: 300px; /* Ensure a minimum height */
}

.log-filters h3,
.filter-container h3 {
  margin-bottom: 10px;
}

.log-filters .form-group,
.filter-container .form-group {
  margin-bottom: 10px;
}

/* Table Container */
.table-container {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

/* Filtering Section */
.filter-container {
  padding: 15px 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.filter-dropdown button {
  background-color: #1F419B;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.filter-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.filter-dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.filter-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.filter-dropdown:hover .filter-dropdown-content {
  display: block;
}

.filter-dropdown:hover button {
  background-color: #3f51b5;
  color: #ccc;
}


/* CSS for order item layout with specific class */
/* Order Container */
.order-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Order Item Styles */
.order-item {
  position: relative;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f8f9fa;
}

.order-item h5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #1F419B; /* Match button color */
}

.order-item .form-group {
  margin-bottom: 15px;
}

.order-item .remove-order-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: #dc3545;
  cursor: pointer;
}

.order-item .remove-order-btn:hover {
  color: #bd2130;
}

/* Sticky Buttons */
.sticky-buttons {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px 0;
  border-top: 1px solid #dee2e6;
  z-index: 1000;
}

.sticky-buttons .btn-group {
  display: flex;
  justify-content: space-between;
}

.sticky-buttons .btn {
  transition: background-color 0.3s ease;
}

.sticky-buttons .btn:hover {
  background-color: #3f51b5;
}

/* Preview Container */
.preview-container {
  background-color: #FAFAFC; /* Background color to match the overall background */
  color: #1F419B; /* Text color to match button color for consistency */
  padding: 20px;
  border: 1px solid #1F419B; /* Border color matching the button color */
  border-radius: 10px;
  margin-top: 20px;
  min-height: 200px;
  position: sticky;
  top: 20px; /* Adjust as needed based on your layout */
  margin-bottom: 20px;
}
.preview-container .btn-primary{
  float: none;
}

.preview-container h3 {
  color: #00AB4F; /* Text color matching the header text */
}

.preview-container p {
  color: #1F419B; /* Text color to match button color */
}

/* Form Labels */

/* Form Control Placeholder Text */
.form-control::placeholder {
  color: #555555; /* Dark gray for placeholders */
}

/*-- CSS for Loading Spinner --> */
.loading-spinner {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 6px solid #FAFAFC;
  border-radius: 50%;
  border-top: 6px solid #1F419B;
  animation: spin 1s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-message {
  display: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  color: #1F419B;
  font-family: 'Arial', sans-serif;
  z-index: 1000;
}

/* css for chart layout */
main {
  margin: 0 auto;
  padding: auto !important;
}
/* Summary Container */
.summary-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Enable horizontal scroll */
  justify-content: space-around; /* Center items with space around */
  gap: 20px; /* Adjust as needed */
  scroll-snap-type: x mandatory;
  
}
.summary-container::-webkit-scrollbar{
  display: none;
}
main .section-title {
  font-size: 16px;
  margin: 20px 0 10px;
  padding-left: 10px;
  text-align: left;
  color: #1F419B;
  font-weight: bold;
}
.summary-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  background-color: #f9f9f9;
  width: calc(33.33% - 20px);
  min-width: 250px;
}

.summary-item:hover {
  transform: translateY(-5px);
}

.icon-container {
  background-color: #1F419B;
  color: #ffffff;
  padding: 15px;
  border-radius: 50%;
  margin-right: 20px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container i {
  font-size: 24px;
}
/* Icon colors */
.total-orders-icon {
  background-color: #E8EAF6;
  color: #1F419B; /* Example color for Total Orders */
}

.total-revenue-icon {
  background-color: #FCE4EC;
  color: #500041; /* Example color for Total Revenue */
}

.average-order-icon {
  background-color: #E8F5E9;
  color: #00AB4F; /* Example color for Average Order Value */
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-text {
  font-size: 16px;
  color: #4b7bec;
  text-align: center;
  margin-bottom: 10px;
}

.summary-item p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #333333;
}

@media (max-width: 768px) {
  .summary-item {
      min-width: calc(50% - 30px);
  }
}

@media (max-width: 576px) {
  .summary-item {
      min-width: calc(100% - 30px);
  }

  /* Pagination Dots */
.pagination-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 1px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #500041;
}
}

section {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.data-container {
  margin-top: 10px;
}

.charts-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}
.charts-container::-webkit-scrollbar{
  display: none;
}

.chart-section {
  flex: 0 0 auto;
  width: 300px;
  
}

.chart-section:last-child {
  margin-right: 0;
}

canvas {
  width: 100%;
  height: 200px;
}


@media (min-width: 768px) {
  .chart-section {
      width: 500px;
  }
}

@media (min-width: 1200px) {

  .chart-section {
      width: calc(33.3333% - 20px);
  }
}

/* Css- customer history tracker */
.track-card {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  min-width: 200px;
  flex: 1 1 calc(33.333% - 10px);
}

.track-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.track-card .text-uppercase {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.track-card i {
  font-size: 24px;
  margin-bottom: 5px;
  opacity: 0.7;
}

/* Enhanced Gradient Backgrounds */
.bg-gradient-primary {
  background: linear-gradient(45deg, #007bff, #0056b3);
  background: linear-gradient(45deg, #007bff 0%, #0056b3 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);

}

.bg-gradient-success {
  background: linear-gradient(45deg, #28a745, #1e7e34);
  background: linear-gradient(45deg, #28a745 0%, #1e7e34 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.bg-gradient-info {
  background: linear-gradient(45deg, #17a2b8, #117a8b);
  background: linear-gradient(45deg, #17a2b8 0%, #117a8b 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.month-name {
  font-size: 24px;
  background-color: #00AB4F;
  padding: 2px 50px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.card-container {
  display: flex;
  flex-wrap: nowrap; /* Ensure cards stay in a single row */
  gap: 15px;
  overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
.icon-left {
  margin-right: 10px;
  font-size: 20px;
  opacity: 0.7;
  color: #ffffff;
}

.track-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.track-card > div {
  flex: 1;
  text-align: center; /* Center text for small devices */
}

.track-card h5 {
  font-size: 12px;
  margin-bottom: 3px;
  opacity: 0.8;
  color: #ffffff; /* White text */
}

.track-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #ffffff; /* White text */
}

/* Responsive adjustments for small devices */
@media (max-width: 672px) {
  .header-row {
    flex-direction: column;
    align-items: center;
  }

  .month-name {
    margin-bottom: 15px;
  }

  .card-container {
    flex-direction: row;
    gap: 10px;
  }

  .track-card {
    min-width: calc(33.333% - 10px); /* Adjust card width for three-column layout */
    padding: 8px; /* Reduced padding */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon-left {
    font-size: 18px; /* Reduced icon size */
  }

  .track-card .text-uppercase {
    font-size: 9px; /* Further reduced font size */
  }

  .track-card h3 {
    font-size: 14px; /* Further reduced font size */
  }
}

/* header print */
