<form id="addItemForm" method="post" action="{{ url_for('inventory_bp.add_inventory_item') }}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" required>
        </div>
        <div class="form-group">
            <label for="reorder_point">Reorder Point</label>
            <input type="number" class="form-control" name="reorder_point" required>
        </div>
        <div class="form-group">
            <label for="expiry_date">Expiry Date</label>
            <input type="date" class="form-control" name="expiry_date" required>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" name="category" required>
        </div>
        <div class="form-group">
            <label for="manufacturer">Manufacturer</label>
            <input type="text" class="form-control" name="manufacturer" required>
        </div>
        <button type="submit" class="btn btn-primary button-hover">Add Item</button>
    </form>