<!-- add_category.html -->
<form id="addCategoryForm" method="post" action="{{ url_for('inventory_bp.add_category') }}">
    <div class="form-group input-group mb-3">
        <input type="text" class="form-control" name="name[]" id="name" placeholder="Category Name 1" required>
        <div class="input-group-append">
            <button type="button" class="btn btn-success mt-0" onclick="addField()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div id="dynamicFields">
        <!-- Dynamic fields will be added here -->
    </div>
    <button type="submit" class="btn btn-primary btn-sm button-hover">Save Categories</button>
</form>