{% extends "inventory/tab.html" %}
{% block title %}Inventory Management - Products{% endblock %}
{% block content %}
    <h1>Products</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <a href="{{ url_for('inventory_bp.manage_batches', product_id=product.id) }}" class="btn btn-primary">Manage Batches</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}