<!DOCTYPE html>
<title>{% block title %}Inventory Management{% endblock title %}</title>
{% block body %}
{% include 'header.html' %}
<!-- Main content -->
<div class="container-fluid">
    {% include 'sideheader.html' %}
    <div class="main">
        <!-- Container for sidebar content -->
        {% include 'sidenav.html' %}
        <div class="page-content">
            <!-- include the search bar -->
            <div class="header2">
                <h2 class="welcome-title">Inventory Management 🎉</h2>
                <div class="search-menu">
                    <form id="search-form"  method="GET">
                        <div class="search-wrapper">
                            <i class="material-icons search-icon">search</i>
                            <input type="search" class="search-input" id="search" name="query" placeholder="Search by product, batch_no, or category..." autocomplete="off">
                            
                            <ul id="suggestions" class="suggestions"></ul>
                        </div>
                    </form>
                </div> 
            </div>
            
            <!-- Filter Container -->
          
            <div class="filter-container">
                <div class="filter-dropdown">
                    <button class="button-hover"><i class="fas fa-filter"></i> Filter By</button>
                    <div class="filter-dropdown-content">
                        <a href="#" onclick="filterProducts('expired')"> <i class="fas fa-calendar-times"></i> Expired Products</a>
                        <a href="#" onclick="filterProducts('low_stock')"><i class="fas fa-exclamation-circle"></i> Low Stock Products</a>
                        <a href="{{ url_for('inventory_bp.inventory_list') }}" name="clearfilter"><i class="fas fa-times-circle"></i> Clear Filters</a>
                    </div>
                </div>
            </div>
             <!-- Tabs navigation -->
            <ul class="nav nav-tabs" id="inventoryTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="products-tab" onclick="showTab('products')" type="button" role="tab" aria-controls="products" aria-selected="true">Products</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="categories-tab" onclick="showTab('categories')" type="button" role="tab" aria-controls="categories" aria-selected="false">Categories</button>
                </li>
            </ul>
                    
            <!-- Add a flash message that displays a wrong old password message -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <div class="tab-content" id="inventoryTabsContent">
                <!-- Products Tab -->
                <div class="tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="products-tab">
                    <div class="d-flex justify-content-between align-items-center mr-5">
                        <div class="select-wrapper selection-filter mt-3">
                            <label for="prodMaxRows">Showing</label>
                            <select class="form-select" name="prod_rows_per_page" id="prodMaxRows" onchange="updateRowsPerPage()">
                                <option value="5000">all</option>
                                <option value="5" {% if prod_rows_per_page == 5 %}selected{% endif %}>5</option>
                                <option value="10" {% if prod_rows_per_page == 10 %}selected{% endif %}>10</option>
                                <option value="25" {% if prod_rows_per_page == 25 %}selected{% endif %}>25</option>
                                <option value="50" {% if prod_rows_per_page == 50 %}selected{% endif %}>50</option>
                                <option value="100" {% if prod_rows_per_page == 100 %}selected{% endif %}>100</option>
                            </select>
                            <label for="prodMaxRows" style="padding-left:10px;">rows</label>
                        </div>
                        <!-- Add New Product button -->
                        <div>
                            <button class="btn btn-custom-primary btn-sm button-hover" onclick="openModal('addProductModal', 'addProduct')">
                                <i class="fas fa-plus"></i> Add Product</button>
                        </div>
                    </div>
                    <!-- Products Table (implement your table structure here) -->
                    <div class="card custom-card-border table-responsive">
                        <div class="">
                            <table id="product-table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="sortable" data-column="id">
                                            #
                                            <span class="sort-icon"></span>
                                        </th>
                                        <th scope="col" class="sortable" data-column="product">
                                            Product
                                            <span class="sort-icon"></span>
                                        </th>
                                        
                                        <th scope="col" class="sortable" data-column="vendor">
                                            Vendor
                                            <span class="sort-icon"></span>
                                        </th>
                                        <th scope="col" class="sortable" data-column="category">
                                            Category
                                            <span class="sort-icon"></span>
                                        </th>
                                        <th scope="col" class="sortable" data-column="quantity">
                                            Total Quantity
                                            <span class="sort-icon"></span>
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    {% for product in products %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.vendor }}</td>
                                        <td>{{ product.category.name }}</td>
                                        <td>{{ product.stock }}</td>
                                        <td>
                                            <button class="btn btn-custom-primary btn-sm"
                                            onclick="openModal('editModal', 'edit', '{{ product.id }}')" title="Manage Batches">
                                            <i class="fas fa-cogs"></i> Batches</button>
                                            <button class="btn-status btn-small" onclick="openModal('editProductModal', 'product', '{{ product.id }}')" title="Edit Product">
                                                <i class="fas fa-pencil"></i>
                                            </button>

                                            <button class="btn-status btn-small button-hover open-detail-btn" data-row-id="{{product.id}}" data-page-url="/product_details" title="View Details" >
                                                <i class="fas fa-eye"></i> <!-- Font Awesome icon for view -->
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Pagination links for products -->
                    <div class="pagination mb-3">
                        <div class="rows_count" id="prodRowCount"></div>

                        {% if products.has_prev %}
                        <a href="{{ url_for('inventory_bp.inventory_list', prod_page=products.prev_num, prod_rows_per_page=prod_rows_per_page, cat_page=cat_page, cat_rows_per_page=cat_rows_per_page) }}">&laquo;</a>
                        {% endif %}

                        {% for num in products.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                            {% if num %}
                                {% if products.page == num %}
                                    <a href="{{ url_for('inventory_bp.inventory_list', prod_page=num, prod_rows_per_page=prod_rows_per_page, cat_page=cat_page, cat_rows_per_page=cat_rows_per_page) }}" class="current">{{ num }}</a>
                                {% else %}
                                    <a href="{{ url_for('inventory_bp.inventory_list', prod_page=num, prod_rows_per_page=prod_rows_per_page, cat_page=cat_page, cat_rows_per_page=cat_rows_per_page) }}">{{ num }}</a>
                                {% endif %}
                            {% else %}
                                <span class="ellipsis">...</span>
                            {% endif %}
                        {% endfor %}

                        {% if products.has_next %}
                        <a href="{{ url_for('inventory_bp.inventory_list', prod_page=products.next_num, prod_rows_per_page=prod_rows_per_page, cat_page=cat_page, cat_rows_per_page=cat_rows_per_page) }}">&raquo;</a>
                        {% endif %}
                    </div>
                </div>
               
                <!-- Categories Tab -->
                <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                    <div class="d-flex justify-content-between align-items-center mr-5">  
                        <div class="select-wrapper selection-filter mt-3">
                            <label for="catMaxRows">Showing</label>
                            <select class="form-select" name="cat_rows_per_page" id="catMaxRows" onchange="updateRowsPerPage()">
                                <option value="5000">all</option>
                                <option value="5" {% if cat_rows_per_page == 5 %}selected{% endif %}>5</option>
                                <option value="10" {% if cat_rows_per_page == 10 %}selected{% endif %}>10</option>
                                <option value="25" {% if cat_rows_per_page == 25 %}selected{% endif %}>25</option>
                                <option value="50" {% if cat_rows_per_page == 50 %}selected{% endif %}>50</option>
                                <option value="100" {% if cat_rows_per_page == 100 %}selected{% endif %}>100</option>
                            </select>
                            <label for="catMaxRows" style="padding-left:10px;">rows</label>
                        </div>
                        <div>
                            {% if not current_user.has_role('user') %} 
                                <!-- disable button if the current user is not user-->
                                <button class="btn btn-custom-primary btn-sm" onclick="openModal('addCategoryModal', 'addCategory')">
                                    <i class="fas fa-plus"></i> Add Category</button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Categories Table (implement your table structure here) -->
                    <div class="card custom-card-border">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="sortable" data-column="id">
                                        #
                                        <span class="sort-icon"></span>
                                    </th>
                                    <th scope="col" class="sortable" data-column="category">
                                        Category
                                        <span class="sort-icon"></span>
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                <tr id="category-{{ category.id }}">
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <span class="category-name">{{ category.name }}</span>
                                        <input type="text" class="form-control category-input" value="{{ category.name }}" style="display: none;">
                                    </td>
                                    <td>
                                        <button class="btn btn-status btn-small button-hover btn-edit" onclick="editCategory('{{ category.id }}')">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-small btn-save" style="display: none;" onclick="saveCategory('{{ category.id }}')" title="Save">
                                            <i class="fas fa-save" style="color:#00AB4F"></i>
                                        </button>
                                        <button class="btn btn-small btn-x" style="display: none;" onclick="cancelEdit('{{ category.id }}')" title="Cancel">
                                            <i class="fas fa-times" style="color:red"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                   
                    <!-- Pagination links for categories -->
                    <div class="pagination mb-3">
                        <div class="rows_count" id="catRowCount"></div>

                        {% if categories.has_prev %}
                        <a href="{{ url_for('inventory_bp.inventory_list', cat_page=categories.prev_num, cat_rows_per_page=cat_rows_per_page, prod_page=prod_page, prod_rows_per_page=prod_rows_per_page) }}">&laquo;</a>
                        {% endif %}

                        {% for num in categories.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                            {% if num %}
                                {% if categories.page == num %}
                                    <a href="{{ url_for('inventory_bp.inventory_list', cat_page=num, cat_rows_per_page=cat_rows_per_page, prod_page=prod_page, prod_rows_per_page=prod_rows_per_page) }}" class="current">{{ num }}</a>
                                {% else %}
                                    <a href="{{ url_for('inventory_bp.inventory_list', cat_page=num, cat_rows_per_page=cat_rows_per_page, prod_page=prod_page, prod_rows_per_page=prod_rows_per_page) }}">{{ num }}</a>
                                {% endif %}
                            {% else %}
                                <span class="ellipsis">...</span>
                            {% endif %}
                        {% endfor %}

                        {% if categories.has_next %}
                        <a href="{{ url_for('inventory_bp.inventory_list', cat_page=categories.next_num, cat_rows_per_page=cat_rows_per_page, prod_page=prod_page, prod_rows_per_page=prod_rows_per_page) }}">&raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Add Item Modal -->
<div id="addProductModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Product</h5>
                <button type="button" class="btn-close" onclick="closeModal('addProductModal')" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="addModalContent">
                <!-- Content will be loaded here via JavaScript -->
            </div>
        </div>
    </div>
</div>
<!-- Add Item Modal -->
<div id="addCategoryModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Category</h5>
                <button type="button" class="btn-close" onclick="closeModal('addCategoryModal')" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="categoryModalContent">
                <!-- Content will be loaded here via JavaScript -->
            </div>
        </div>
    </div>
</div>

<!-- Manage Batches Modal -->
<div id="editModal" class="modal">
    <div class="modal-dialog custom-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Manage Batches</h5>
                <button type="button" class="btn-close" onclick="closeModal('editModal')" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="editModalContent">
                <!-- Content will be loaded here via JavaScript -->
            </div>
        </div>
    </div>
</div>
<!-- Edit Product Modal -->
<div id="editProductModal" class="modal">
    <div class="modal-dialog custom-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <button type="button" class="btn-close" onclick="closeModal('editProductModal')" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="editProductContent">
                <!-- Content will be loaded here via JavaScript -->
            </div>
        </div>
    </div>
</div>
<!-- overlay the product details here -->
<div class="overlay" id="overlay"></div>
<!-- add the script files in the body of every html content -->

<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/page_overlay.js') }}"></script>
<script src="{{ url_for('static', filename='js/inventory.js') }}"></script>
<script>
    // Open modal function
function openModal(modalId, type, itemId = null) {
    var modal = document.getElementById(modalId);
    modal.style.display = "block";
    var endpoint;
    if (type === "addProduct") {
      endpoint = '{{ url_for("inventory_bp.add_product") }}';
    } else if (type === "edit" && itemId !== null) {
      // Check if itemId is not null or empty
      endpoint =
        '{{ url_for("inventory_bp.manage_batches", product_id="") }}' + itemId; // Include itemId here
    } else if (type === "product" && itemId !== null) {
      endpoint =
        '{{url_for("inventory_bp.edit_product", product_id="")}}' + itemId;
    } else if (type === "addCategory") {
      endpoint = '{{ url_for("inventory_bp.add_category") }}';
    }
    fetch(endpoint)
      .then((response) => response.text())
      .then((html) => {
        if (modalId === "addProductModal") {
          document.getElementById("addModalContent").innerHTML = html;
        } else if (modalId === "editModal") {
          document.getElementById("editModalContent").innerHTML = html;
        } else if (modalId === "editProductModal") {
          document.getElementById("editProductContent").innerHTML = html;
        } else if (modalId === "addCategoryModal") {
          document.getElementById("categoryModalContent").innerHTML = html;
        }
      })
      .catch((error) => console.error("Error loading modal content:", error));
  }
  
  // Close modal function
  function closeModal(modalId) {
    var modal = document.getElementById(modalId);
    modal.style.display = "none";
  }
  
  // Close modal when clicking outside of it
  window.onclick = function (event) {
    var modals = document.getElementsByClassName("modal");
    for (var i = 0; i < modals.length; i++) {
      var modal = modals[i];
      if (event.target == modal) {
        modal.style.display = "block";
      }
    }
  };

 

  
</script>
{% endblock body %}
