<!DOCTYPE html>
<title>{% block title %}Dashboard{% endblock title %}</title>
{% block body %}
{% include 'header.html' %}
<!-- Main content -->
<div class="container-fluid">
    {% include 'sideheader.html' %}
    <div class="main">
        <!-- Container for sidebar content -->
        {% include 'sidenav.html' %}
        <div class="page-content">
            <h2 class="welcome-title">Welcome back! <span>{{current_user.first_name}} 🎉</span></h2>

            <!-- include user stats here -->
            {% include 'users/user_stat.html' %}
            
            <!-- <div class="header-search">
                <input type="search" placeholder="Search Documentation...">
            </div> -->
           
        </div>
    </div>
</div>
<!-- add the script files in the body of every html content -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock body %}
