<div class="profile">
    <div class="user">
        <div class="clock" id="clock"></div>
        <!-- <h5>Welcome back, {{current_user.first_name}}!</h5> -->
    </div>
    <div class="img-box">
        {% if current_user.company.logo %}
        <img src="{{url_for('static', filename='images/'+ current_user.company.logo)}}" alt="some user image">
        {% else %}
        <img src="https://i.postimg.cc/BvNYhMHS/user-img.jpg" alt="some user image">
        {% endif %}
        
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/profile">
                    <i class="fas fa-user"></i> Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-envelope"></i> Inbox
                </a>
            </li>
            <li>
                <a href="/setting">
                    <i class="fas fa-cog"></i> Settings
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question-circle"></i> Help
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="fas fa-sign-out-alt"></i> Sign Out
                </a>
            </li>
        </ul>
    </div>
</div>