<!DOCTYPE html>
{% extends 'base.html' %}
<title>{% block title %}Sign in to Medem {% endblock title %}</title>
{% block body %}
<!-- Top content -->
<!-- MultiStep Form -->
<!-- <div class="img-overlay"></div> -->
<section class="container">
    <div class="row ">
        <div class="col-sm-12 col-md-4 col-lg-5 side-section">
            <div class="side-box">
                <div class="login-header">
                    <img src="static/logos/logo.ico" alt="MedEM">
                    <h2>MEMS</h2>
                </div>
                <p>Please enter your details to sign in the agreement and have your own store management software.</p>
                <p class="message">
                    Not registered?
                    <a href="#" class="register submit action-button">Register now</a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-6 form-box">
            <!-- Registration form for new user-->
            <form id="msform" class="register-form hidden" action="/register" method="post" enctype="multipart/form-data">
                <ul id="progressbar">
                    <li class="active">Personal Details</li>
                    <li>Company address</li>
                    <li>Company Profile</li>
                </ul>
                <div class="card custom-card-border">
                    <div class="card-body mb-5">
                        <fieldset>
                            <label for="" class="form-label float-start">First name 
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="text" name="fname" class="form-control" id="fname" value="" placeholder="Enter your first name" required>
                           
                            <label for="" class="form-label float-start">Last name
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="text" name="lname" class="form-control" id="lname" value="" placeholder="Enter your last name" required> 
                            
                            <label for="" class="form-label float-start">Mobile number
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="tel" name="phone" class="form-control" placeholder="Mobile number" required>
                            
                            <label for="" class="form-label float-start">Email address
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="email" id="emailInput" name="email" class="form-control" placeholder="Email address" required>
                            <div id="emailError" style="color: red;"></div>

                            <input type="button" id="next" name="next" class="next action-button button-hover" value="Next">
                           
                        </fieldset>
                        <fieldset>
                            <!-- <h2 class="card-title">Company Profile</h2> -->
                            <label for="" class="form-label float-start">Country</label>
                            <input type="text" value="" name="country" class="form-control" id="country" placeholder="e.g Ethiopia">
                            
                            <label for="" class="form-label float-start">State
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="text" name="state" class="form-control" id="state" placeholder="e.g addis ababa" required>
                            
                            <label for="" class="form-label float-start">Sub city or Zone
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="text" name="sub_city" class="form-control" id="zone" placeholder="e.g addis ketema" required>
                            
                            <label for="" class="form-label float-start">Wereda
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="text" name="wereda" value="" class="form-control" id="wereda" placeholder="e.g 10" required>

                            <label for="" class="form-label float-start">Kebele</label>
                            <input type="text" name="kebele" class="form-control" id="kebele" placeholder="04">

                            <label for="" class="form-label float-start">House number
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="text" name="house_no" class="form-control" id="house_no" placeholder="e.g 22/140" required>

                            <input type="button" name="next" class="next action-button button-hover" value="Next">
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous">
                          
                        </fieldset>
                        <fieldset>
                            <!-- <h2 class="card-title">Create your account</h2> -->
                            <label for="company_name" class="form-label float-start">Company name
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="text" name="company_name" class="form-control" placeholder="Company name" required>
                            
                            <label for="logo_name" class="form-label float-start">Company logo
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="file" name="logo" class="form-control" placeholder="upload logo" accept=".jpg, .jpeg, .png" required>
                            
                            <label for="company_name" class="form-label float-start">Company license
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="file" name="license" class="form-control" placeholder="upload renewed license" accept=".jpg, .jpeg, .png" required>
                           
                            <input type="submit" name="submit" class="submit action-button button-hover" value="Submit">
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous">
                        </fieldset>
                    </div>
                </div>
                <p class="sign-message">
                    Already have an Account?
                    <a href="#" class="login">Sign in</a>
                </p>
            </form>
           
            <!-- Login container with login form -->
        
            <form method="post" id="login-form" action="/login">
                <div class="login-header">
                    <img src="static/logos/logo.ico" alt="MedEM">
                    <h2>Sign in to MEMS</h2>
                </div>
                <div class="card custom-card-border">
                    <div class="login-form">
                        <!-- Add a flash message that displays a failed login message -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <div class="mb-3">
                            <label for="username" class="form-label">Username or email address
                                <span class="red-asterisk">*</span>
                            </label>
                            <input type="email" class="form-control" id="username" name="username" placeholder="Enter email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password
                                <span class="red-asterisk">*</span>
                            </label>
                            <div class="password-container">
                                 <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                 <span class="toggle-password" onclick="togglePasswordVisibility()">👁️</span>
                            </div>
                        </div>
                        <button class="btn btn-custom-primary button-hover" style="width:100%;" type="submit">Sign in</button>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
</section>

<!-- /.MultiStep Form -->
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

<!-- add the script files in the body of every html content -->

{% endblock body %}
