<!DOCTYPE html>
{% extends 'base.html' %}
<title>{% block title %}Registration {% endblock title %}</title>
{% block body %}
<!-- Top content -->
<!-- MultiStep Form -->
<!-- <div class="img-overlay"></div> -->

<section class="intro">
    <div class="row">
        <div class="col-lg-5 col-sm-12 ">
       
            <div class="login-header text-center">
                <img src="static/logos/logo.ico" alt="MedEM">
                <h2>Medem</h2>
            </div>
            <p class="text-center">Please enter your details to sign in the agreement and have your own store management software.</p>
            <p class="text-center">Not registered? <a href="#" class="register submit">Register now</a></p>
        </div>

        <div class="col-lg-6 col-sm-12">
            <form id="msform" class="register-form hidden">
                <ul id="progressbar">
                    <li class="active">Personal Details</li>
                    <li>Company address</li>
                    <li>Company Profile</li>
                </ul>
                <div class="card custom-card-border">
                    <div class="card-body">
                        <!--Registeration Form fields -->
                        <fieldset>
                            <label for="" class="form-label float-start">First name</label>
                            <input type="text" class="form-control" id="fname" value="" placeholder="Enter your first name" required>
                            <label for="" class="form-label float-start">Last name</label>
                            <input type="text" class="form-control" id="lname" value="" placeholder="Enter your last name" required> 
                            <label for="" class="form-label float-start">Mobile number</label>
                            <input type="tel" name="phone" class="form-control" placeholder="Mobile number" required>
                            <label for="" class="form-label float-start">Email address</label>
                            <input type="email" name="email" class="form-control" placeholder="Email address" required>
                                
                            <input type="button" name="next" class="next action-button" value="Next">
                        
                        </fieldset>
                        <fieldset>
                            <!-- <h2 class="card-title">Company Profile</h2> -->
                            <label for="" class="form-label float-start">Country</label>
                            <input type="text" value="" class="form-control" id="country" placeholder="e.g Ethiopia">
                            <label for="" class="form-label float-start">State</label>
                            <input type="text" class="form-control" id="state" placeholder="e.g addis ababa">
                            <label for="" class="form-label float-start">Sub city or Zone</label>
                            <input type="text" class="form-control" id="zone" placeholder="e.g addis ketema">
                            <label for="" class="form-label float-start">Wereda</label>
                            <input type="text" value="" class="form-control" id="wereda" placeholder="e.g 10">
                            <label for="" class="form-label float-start">Kebele</label>
                            <input type="text" class="form-control" id="kebele" placeholder="04">
                            <label for="" class="form-label float-start">House number</label>
                            <input type="text" class="form-control" id="house_no" placeholder="e.g 22/140">

                            <input type="button" name="next" class="next action-button" value="Next">
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous">
                        
                        </fieldset>
                        <fieldset>
                            <!-- <h2 class="card-title">Create your account</h2> -->
                            <input type="text" name="email" class="form-control" placeholder="Email" required>
                            <input type="password" name="pass" class="form-control" placeholder="Password">
                            <input type="password" name="cpass" class="form-control" placeholder="Confirm Password">
                        
                            <input type="submit" name="submit" class="submit action-button" value="Submit">
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous">
                        </fieldset>
                    </div>
                </div>
                <p class="text-center">Already have an Account? <a href="#" class="login">Sign in</a></p>
            </form>

            <form method="post" id="login-form" action="/login">
                <div class="login-header text-center">
                    <img src="static/logos/logo.ico" alt="MedEM">
                    <h2>Sign in to Medem</h2>
                </div>
                <div class="login-form">
                    <!-- Login Form fields -->
                    <!-- Add a flash message that displays a failed login message -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                            {% endif %}
                            {% endwith %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username or email address</label>
                        <input type="email" class="form-control" id="username" name="username" placeholder="Enter email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button class="btn btn-primary hover-orange" type="submit">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- /.MultiStep Form -->
<script>
  // JavaScript to handle multi-step registration form
 // JavaScript time
let fieldsets = document.querySelectorAll("fieldset");

document.querySelectorAll(".next").forEach(nextButton => {
    nextButton.addEventListener("click", function() {
        let current_fs = this.parentNode;
        let next_fs = this.parentNode.nextElementSibling;
        
        // Check if the current fieldset has any required inputs that are empty
        if (!checkEmptyInputs(current_fs)) {
            console.log("Required input is empty!");
            return; // If any required input is empty, do not proceed
        } else {
            console.log("All required inputs are filled.");
        }
        
        // Activate next step on progressbar using the index of next_fs
        let progressbarLi = document.querySelectorAll("#progressbar li");
        progressbarLi[Array.from(fieldsets).indexOf(next_fs)].classList.add("active");
        
        // Hide the current fieldset
        current_fs.style.display = "none";
        
        // Show the next fieldset
        next_fs.style.display = "block"; 
    });
});

document.querySelectorAll(".previous").forEach(previousButton => {
    previousButton.addEventListener("click", function() {
        let current_fs = this.parentNode;
        let previous_fs = this.parentNode.previousElementSibling;
        
        // Activate previous step on progressbar using the index of current_fs
        let progressbarLi = document.querySelectorAll("#progressbar li");
        progressbarLi[Array.from(fieldsets).indexOf(current_fs)].classList.remove("active");
        
        // Hide the current fieldset
        current_fs.style.display = "none";
        
        // Show the previous fieldset
        previous_fs.style.display = "block"; 
    });
});

document.querySelectorAll(".submit").forEach(submitButton => {
    submitButton.addEventListener("click", function() {
        return false;
    });
});

function checkEmptyInputs(fieldset) {
    let inputs = fieldset.querySelectorAll("input, select, textarea");
    for (let i = 0; i < inputs.length; i++) {
        if (inputs[i].hasAttribute("required") && inputs[i].value.trim() === "") {
            // If a required input is empty, return false
            return false;
        }
    }
    // All required inputs are filled
    return true;
}
//<!-- javascript to handle the login and register form in the same page -->
document.addEventListener("DOMContentLoaded", function() {
    const registerForm = document.querySelector(".register-form");
    const loginForm = document.querySelector("#login-form");

    const registerButton = document.querySelector(".register");
    const loginButton = document.querySelector(".login");
    
    // Function to hide the login form and show the register form
    function showRegisterForm() {
        registerForm.classList.remove("hidden");
        loginForm.classList.add("hidden");
    }

    // Function to hide the register form and show the login form
    function showLoginForm() {
        loginForm.classList.remove("hidden");
        registerForm.classList.add("hidden");
    }

    // Add click event listeners to the register and login buttons
    registerButton.addEventListener("click", showRegisterForm);
    loginButton.addEventListener("click", showLoginForm);
});
</script>
{% endblock body %}
