<div class="sidebar">
    <ul class="nav">
        <li>
            <a href="/" class="nav-link">
                <i class="material-icons">home</i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="material-icons">insert_drive_file</i>
                <span>Form Elements</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="material-icons">bar_chart</i>
                <span>Charts</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="material-icons">grid_on</i>
                <span>Grid System</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="material-icons">notifications</i>
                <span>Notifications</span>
            </a>
        </li>
        {% if current_user.has_role('root') or current_user.has_role('admin') %}
            <li>
                <a href="/users" class="nav-link">
                    <i class="material-icons">group</i>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="/roles" class="nav-link">
                    <i class="fas fa-plus-circle"></i>
                    <span>Roles</span>
                </a>
            </li>
        {% endif %}
    </ul>
    <ul class="bottom-links">
        <li>
            <a href="#" class="nav-link">
                <i class="material-icons">help</i>
                <span>Help</span>
            </a>
        </li>
        <hr>
        <li>
            <a href="/logout" class="nav-link">
                <i class="material-icons">exit_to_app</i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>