<link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500&display=swap" rel="stylesheet">
<div class="sidebar">
    <ul>
        <li>
            <a href="/" class="active">
                <i class="lni lni-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="lni lni-text-format"></i>
                <span>Form Elements</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="lni lni-bar-chart"></i>
                <span>Charts</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="lni lni-grid"></i>
                <span>Grid System</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="lni lni-bullhorn"></i>
                <span>Notifications</span>
            </a>
        </li>
        <li>
            <a href="/users">
                <i class="lni lni-users"></i>
                <span>Users</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="lni lni-support"></i>
                <span>Help & Support</span>
            </a>
        </li>
    </ul>
</div>
